# 宿主机端口默认只绑定本机
HOST_BIND_IP=127.0.0.1
# 项目名称
PROJECT_NAME=feedsystem

# MySQL配置
MYSQL_ROOT_PASSWORD=your_password_here
MYSQL_DATABASE=feedsystem_db
MYSQL_USER=feedsystem_user
MYSQL_PASSWORD=your_password_here
MYSQL_PORT=3307

# Redis配置
REDIS_PASSWORD=your_password_here
REDIS_PORT=6379

# RabbitMQ配置
RABBITMQ_USER=admin
RABBITMQ_PASS=your_password_here
RABBITMQ_VHOST=feedsystem
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
